RewriteEngine On

# Redirect from root to /admin/main
RewriteRule ^$ /admin/main [L,R=301]

# Your existing rewrite rules
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]